@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "spartan", sans-serif;
}

#product1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#product1 .pro {
  width: 22%;
  min-width: 100px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  margin: 15px 5px;
  position: relative;
}
#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}
